# Server Configuration
PORT=3300
NODE_ENV=development

DATABASE_URL="mongodb+srv://1bissolutionstech:28eHpw2mcn51rTwU@1bis.6km3g.mongodb.net/dev1-prisma-onebisDB?retryWrites=true&w=majority&appName=1bis"
JWT_SECRET="your-super-secret-jwt-key-here"
CLOUDINARY_CLOUD_NAME="dmhxygxg9"
CLOUDINARY_API_KEY="931468895664244"
CLOUDINARY_API_SECRET="3VlK6uVQorOQb01vwndHNSlAa-8"

# CORS Configuration
# Comma-separated list of allowed origins
CORS_ORIGINS="http://localhost:3000,http://localhost:5173,http://localhost:3300,http://localhost:4173"
# Whether to allow credentials (cookies) in CORS requests
CORS_CREDENTIALS=true

# Logging (Optional)
BETTER_STACK_SOURCE_TOKEN="b5yYv9bssbxcJaJ7uguo8WX1"
BETTER_STACK_HOST="https://s1349486.eu-nbg-2.betterstackdata.com"

REDIS_URL=redis://:template@localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=template
REDIS_DB=0
REDIS_ENABLED=true